.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#videoGridContainer {
  width: 80%;
  margin: auto;
}

.ow {
  overflow-wrap: break-word;
  height: 70%;
  word-wrap: break-word;
  hyphens: auto;
}

#homeContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#videoViewer {
  width: 100%;
  height: 100%;
}

#videoViewerContainer {
  width: 70%;

  height: 70vh;
  margin: auto;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoInfoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: flex-start;

}

.avatar {
  margin-right: 3%;
}

.videoTextInfoContainer {
  width: auto;
  text-align: left;
  word-wrap: break-word;
}

.videoStatusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statusBadge {
  flex-grow: 2;
}

.statusLoadingbar {
  flex-grow: 1;
}

.textAlignLeft {
  text-align: left;
}

.largeBoldText {
  font-weight: bold;
  font-size: large;
}


#videoDetailCollapse {

  margin-bottom: "5%";
  background-color: dimgray
}

.textWrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#videoUpload {
  position: fixed;
  right: 5%;
  bottom: 5%;
}


.videoGridItem {
  display: flex;
  flex-direction: column;

}

.videoGridItemCard {
  width: 400px;
  padding: 0%;

}

.thumbnailContainer {
  max-width: 100%;
}

.img {
  max-width: 100%;
  max-height: auto;
  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
  object-fit: scale-down;

}

/* .videoThumbnail {
  max-width: 500px;
} */

/* 
.videoThumbnail {
  max-width: 500px;
} */

/* @media only screen and (max-width: 890px) {
  
} */