.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#videoGridContainer {
  margin: auto;
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#homeContainer {
  display: flex;
  flex-direction: column;
}

#videoViewerContainer {
  margin-top: 5%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoInfoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2%;

}

.avatar {
  margin-right: 3%;
}

.videoTextInfoContainer {

  width: 300px;
  text-align: left;
  word-wrap: break-word;
}

.videoName {
  font-weight: bold;

  font-size: large;
}

.videoMetadata {}

.textWrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#videoUpload {
  position: fixed;
  right: 5%;
  bottom: 5%;

}

/* .videoThumbnail {
  width: 200px;
  height: 300px;
  object-fit: cover;
} */